 * {
    box-sizing: border-box;
    text-align: center;
    font-family: Korail;
}
table{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}
.box{
    border: 1px dashed black;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: gray;
    margin: 25px;
    perspective: 200px;
}
#trans{
    border: 1px solid white;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    text-align: center;
    padding: 10px;
}
.translate {
    transform: translate(10px, 50px);
}
.scale {
    transform: scale(0.75);
}
.skew {
    transform: skew(5deg, -20deg);
}
.rotate {
    transform: rotate(70deg);
}
.translatescale{
    transform: translate(10px, 50px) scale(0.75);
}
.translateskew{
    transform: translate(10px, 50px) skew(5deg, -20deg);
}
.translaterotate{
    transform: translate(10px, 50px) rotate(70deg);
}
.scaleskew{
    transform: scale(0.75) skew(5deg, -20deg);
}
.scalerotate{
    transform: scale(0.75) rotate(70deg);
}
.skewrotate{
    transform: skew(5deg, -20deg) rotate(70deg);
}
.everything{
    transform: translate(10px, 50px) scale(0.75) skew(5deg, -20deg) rotate(70deg);
}
.translate3d{
    transform: translate3d(10px, 50px, 55px);
}
.rotateX{
    transform: rotateX(70deg);
}
.rotateY{
    transform: rotateY(70deg);
}
.scale3d{
    transform: scale3d(0.75, 0.1, 0.75);
}
/* Animation Effect */
.translate:hover {
    transition: transform 1s linear;
    transform: translate(0px, 0px);
}
.scale:hover {
    transition: transform 1s linear;
    transform: scale(1);
}
.skew:hover {
    transition: transform 1s linear;
    transform: skew(0, 0);
}
.rotate:hover {
    transition: transform 1s linear;
    transform: rotate(0);
}
.translatescale:hover{
    transition: transform 1s linear;
    transform: translate(0px, 0px) scale(1);
}
.translateskew:hover{
    transition: transform 1s linear;
    transform: translate(0px, 0px) skew(0);
}
.translaterotate:hover{
    transition: transform 1s linear;
    transform: translate(0px, 0px) rotate(0);
}
.scaleskew:hover{
    transition: transform 1s linear;
    transform: scale(1) skew(0);
}
.scalerotate:hover{
    transition: transform 1s linear;
    transform: scale(1) rotate(0);
}
.skewrotate:hover{
    transition: transform 1s linear;
    transform: skew(0) rotate(0);
}
.everything:hover {
    transition: transform 1s linear;
    transform: translate(0px, 0px) scale(1) skew(0, 0) rotate(0);
}
.translate3d:hover{
    transition: transform 1s linear;
    transform: translate3d(0px, 0px, 0px);
}
.rotateX:hover{
    transition: transform 1s linear;
    transform: rotateX(0);
}
.rotateY:hover{
    transition: transform 1s linear;
    transform: rotateY(0);
}
.scale3d:hover{
    transition: transform 1s linear;
    transform: translate3d(0,0,0);
}